@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 88, 77, 102;
  --background-start-rgb: 243, 241, 246;
  --background-end-rgb: 243, 241, 246;
}

::-moz-selection { /* Code for Firefox */
  color: white;
  background: rgb(142, 67, 240);
}

::selection {
  color: white;
  background: rgb(142, 67, 240);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}